


.my_list{
 padding: 8px 24px;
 width: 500px;
 text-align:30px ;
 border: 1px solid #f781d0;
 background-color: #f781bc;
 box-shadow: 0 0 10px 2px #333333;
}
p{text-align:center;}
ol{margin: 12px;}


